# Week 2: This week topic are Primitive data types, Basic I/O functions, Arithmetic, Conditional and Relational operators

### Basic I/O functions

##### print function

In [1]:
print("Hello World!") # print function print string types to the console

Hello World!

In [2]:
# you can modify some default argument in print function
# the first default argument is end, it default to "\n" which means new line

print("Hello World!", end=" :)") # because we don't include new line in the end arguemnt, it will be printed side by side with the second "Hello World!"
print("Hello World!")            # because this line has the default end arguemnt which is "\n", it will be printed normally
print("Hello World!")

Hello World! :)Hello World!
Hello World!

In [3]:
# the second default argument is sep, it's short for separator, it default to " "

print("Hello", "World", "!") # the three string is seperated by spaces

Hello World !

In [4]:
# let's change sep argument to "~"

print("Hello", "World", "!", sep="~") # Now every string is separated by "~"

Hello~World~!

##### Input function

In [5]:
# input function prompt user for input
# it will be stored as string type

name = input("Please enter your name: ")

print(type(name))

<class 'str'>

### Primitive Data Types

##### String

In [6]:
# string is a collection of characters, it should be inside a quote or double quote
#
# Example

"Hello World" # this is a string

'Hello World'

In [7]:
"Hello" + " " + "World" + "!" # you can concatenate them together into a single string by using plus sign

'Hello World!'

In [8]:
print("I will not be late\n" * 10) # in python, you can use star symbol to multiply the string

I will not be late
I will not be late
I will not be late
I will not be late
I will not be late
I will not be late
I will not be late
I will not be late
I will not be late
I will not be late

##### String function, here are the list of string function: https://www.w3schools.com/python/python_strings_methods.asp

In [9]:
first_name = "vincent" # it is all lowercase

# you can use title() to convert it to title case

                   # capitalize() is the same as title()
first_name.title() # NOTE: it won't change the original value, so if you print it again without the function it will still be lowercase

'Vincent'

In [10]:
message = "Hello Python!"

print(message.upper()) # turn every character into upper case
print(message.lower()) # turn every character into lower case

HELLO PYTHON!
hello python!

##### formatting a string: there are a lot of different formatting options: https://www.w3schools.com/python/ref_string_format.asp

In [11]:
first_name = "Vincent"
last_name = "Yono"

# here are some way to use format function
print("{} {}".format(first_name, last_name))
print("{1} {0}".format(first_name, last_name)) # putting number in the brackets to order which argument go which brackets
print("{last} {first}".format(first = first_name, last = last_name))
print(f"{first_name} {last_name}") # this is only avaiable for Python 3.6 and later version

Vincent Yono
Yono Vincent
Yono Vincent
Vincent Yono

##### formatting number: there are many other formatting types (Please visit the link to learn more)

In [12]:
# thousand separator
print("{:,}".format(1000))
print(f"{1000:,}")

1,000
1,000

In [13]:
# decimal point
print("{:.2f}".format(10))
print(f"{10:.2f}")

10.00
10.00

In [14]:
# there are some special characters for string type

print("Hello\nWorld!") # "\n" == new line
print("Hello\tWorld!") # "\t" == tab

# to use backslash in string you need to put double backslashes (the first one to signal to python that the next character is a special character)
print("\\") # this will output "\"
print("\"") # you can also input double quote inside a string by using backslashes

# another way to use double quote inside a string is to use single quotes
print('this is a double quote "')

# you can do it the other way as well
print("this is a single quote '")

Hello
World!
Hello	World!
\
"
this is a double quote "
this is a single quote '

##### Integer and Float

In [15]:
i = 7 # this is an integer type, it doesn't have decimal point
f = 7.0 # this is a float type, it always has a decimal point

print(type(i)) # i is an int type
print(type(f)) # f is a float type

<class 'int'>
<class 'float'>

##### Arithmetic

In [16]:
# python follow Order of operations such as BEDMAS, BIDMAS, BOMDAS, BODMAS, PEDMAS (not sure about the previous version, but Python version 3.10.8 do)
print(1 + 1) # addition output 2
print(1 - 1) # substraction output 0
print(1 / 1) # division output 1.0 (turn into float type)
print(3 // 2) # floor division output 1 (stays as an int, but it round down the result)
print(1 * 3) # multiplication output 3
print(1 % 1) # modulus output 0
print(1 ** 3) # exponent output 1 (1 to the power of 3)

print(8 * 3 // 3) # because it follows Order of operation it is the same as [8 * (3 // 3) = 8]

2
0
1.0
1
3
0
1
8

In [17]:
# arithmetic with variables
n = 0

n += 1 # similar to (n = n + 1) it increment n by 1 (n should be equal to 1)
n -= 2 # similar to (n = n - 2) it decrement n by 2 (n should be equal to -1)
n *= -1 # similar to (n = n * -1) it multiply n by -1 (n should be equal to 1)
n //= 1 # similar to (n = n // 1) it divide n by 1 (n should be equal to 1, if you use floor division on float type, it doesn't turn it into an int, but still round down the result)
n /= 1 # similar to (n = n / 1) it divide n by 1 (n should be equal to 1.0, this turn n into a float type)
n **= 1 # similar to (n = n ** 1) it power n by 1 (n should be equal to 1)
# n %= 1 # similar to (n = n % 1) it take the remainder of n % 1 and assign it to n (n should be equal to 0)

print(n) # it is a float type

1.0

##### Boolean

In [18]:
# boolean has two possible state True and False

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [19]:
# Relational Operator

print(5 > 10) # output False, since 5 is not greater than 10
print(5 < 10) # output True, since 5 is less than 10
print(1 >= -1) # output True, since 1 is greater than or equal to -1
print(1 <= -1) # output False, since 1 is not less than or equal to -1

False
True
True
False

In [20]:
# Relational Operator can also be chained together

print(1 < 2 < 3) # output True, since 1 is less than 2 and 2 is less than 3
print(1 < 2 and 2 < 3) # output True, this statement is equivalent to the statement above

print(5 > 1 or 2 < 1) # output True, since 5 is greater than 1 is True, using or if at least 1 relation is True the output is True

True
True
True

##### and
||True|False|
|---|---|---|
|**True**|True|False
|**False**|False|False

##### or
||True|False
|---|---|---|
|**True**|True|True
|**False**|True|False

### Thank you for reading