# Week 3: the topic for this week are introduction to List, Loops and Conditional

### List: lists are used to store multiple values in a single variable

##### Declaring lists

In [1]:
# There are couple ways to declare a list in python

option_one = [] # option 1: use square brackets to declare list
option_two = list() # option 2: use list() to declare list

# both options are the same, so you can pick which one you prefer

# both are type list
print(f"option_one's type: {type(option_one)}")
print(f"option_two's type: {type(option_two)}")

# FYI: you will learn class on later date, for now don't worry about class

option_one's type: <class 'list'>
option_two's type: <class 'list'>

##### Example of use case of list

In [2]:
# Best practice: because the word list is a reserved word in python, it's best not to use list as a variable name

# storing all english alphabets
alphabets = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]

# storing all bills in currency (in this case: IDR)
bills = [100_000, 50_000, 20_000, 10_000, 5_000, 2_000, 1_000, 500, 200, 100]

##### Accessing value inside list

In [3]:
# to access the value inside list just type in variable name followed by square brackets with index number inside
#          [0]      [1]    [2]    [3]       [4]        [5]
words = ["Apple", "Ball", "Cat", "Dog", "Elephant", "Flower"]

# Example: words[2]
words[2] # output: "Cat"

'Cat'

In [4]:
# using negative value to index from the last element
#
# Example: words[-1]
print(words[-1]) # output: "Flower" because it is the last element
print(words[-3]) # output: "Dog" because it is the third element from the back

Flower
Dog

### List functions/methods

##### There are built-in functions for lists, list of built-in functions: https://www.w3schools.com/python/python_ref_list.asp

##### append: Adds an element at the end of the list

In [5]:
# append function is to add value to the end of the list
#                    [0]                [1]                [2]
web_browsers = ["Google Chrome", "Mozilla Firefox", "Microsoft Edge"]

# this will add "Brave" as the 3rd index of the list
web_browsers.append("Brave")

web_browsers[3] # output: "Brave"

'Brave'

##### insert: Adds an element at specified position

In [6]:
# insert function need 2 argument
# the first argument is an integer type, which specify the position the value is going to be inserted
# the second argument is any type, it is the value going to be inserted
#
# Example:
web_browsers.insert(1, "Internet Explorer") # insert "Interner Explorer" to index 1

#                          [0]                [1]                 [2]                [3]          [4]
# it should output: ["Google Chrome", "Internet Explorer", "Mozilla Firefox", "Microsoft Edge", "Brave"]

web_browsers

['Google Chrome',
 'Internet Explorer',
 'Mozilla Firefox',
 'Microsoft Edge',
 'Brave']

##### pop: removes the element at the specified position

In [7]:
# pop function takes 1 integer as argument, which specify the position the value is going to be removed
# if argument is not provided the default value is the last element of the list

#                      [0]                [1]                 [2]                [3]          [4]
# web_browers = ["Google Chrome", "Internet Explorer", "Mozilla Firefox", "Microsoft Edge", "Brave"]
web_browsers.pop() # this should removes the last element which is "Brave"

print(web_browsers)

web_browsers.pop(1) # this should removes "Internet Explorer", because Internet Explorer is in index 1

print(web_browsers)

['Google Chrome', 'Internet Explorer', 'Mozilla Firefox', 'Microsoft Edge']
['Google Chrome', 'Mozilla Firefox', 'Microsoft Edge']

##### pop function also returns the element it removes

In [8]:
# although it is removed from the list, if you assign it to a variable, the removed element is going to be stored in the variable
google_chrome = web_browsers.pop(0)

print(google_chrome)

#                       [0]                 [1]
# web_browers = ["Mozilla Firefox", "Microsoft Edge"]
print(web_browsers)

Google Chrome
['Mozilla Firefox', 'Microsoft Edge']

##### removes: Removes the first item with the specified value

In [9]:
# there are 2 John in the list
names = ["John", "Jane", "Alice", "Bob", "John"]

names.remove("John") # this will only remove the first John from the list

names # This should output ["Jane", "Alice", "Bob", "John"]

['Jane', 'Alice', 'Bob', 'John']

##### extend: Add the lements of a list (or any iterable), to the end of the current list

In [10]:
subjects = ["Business Studies", "Economics", "Accounting"]
other_subjects = ["Physics", "Biology", "Chemistry"]

# This adds other_subjects to subjects
subjects.extend(other_subjects)

subjects # This should output ["Business Studies", "Economics", "Accounting", "Physics", "Biology", "Chemistry"]

['Business Studies',
 'Economics',
 'Accounting',
 'Physics',
 'Biology',
 'Chemistry']

##### sort: Sorts the list

In [11]:
words = ["Apple", "Ball", "Dog", "Cat", "Fish", "Elephant"]
numbers = [10, 2, 5, 3, 1, 4]

words.sort() # By default reverse is set to False
numbers.sort(reverse=True) # you can put optional argument reverse=True to sort the number from largest to smallest

print(words) # This should output words in alphabetical order
print(numbers) # This should output numbers from largest to smallest

['Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Fish']
[10, 5, 4, 3, 2, 1]

##### reverse: Reverse the order of the list

In [12]:
# unlike sort reverse doesn't sort the list, it just reverse the order
pc_part = ["Mother Board", "CPU", "RAM", "Graphics Card", "Cooler", "Power Supply", "Hard Drive"]

pc_part.reverse()

pc_part # This should output ["Hard Drive", "Power Supply", "Cooler", "Graphics Card", "RAM", "CPU", "Mother Board"]

['Hard Drive',
 'Power Supply',
 'Cooler',
 'Graphics Card',
 'RAM',
 'CPU',
 'Mother Board']

##### copy: it copies the original list

In [13]:
# Because of list uses different type memory in your computer
# you don't have to know this, but if you are curious here is a link: https://www.geeksforgeeks.org/how-are-variables-stored-in-python-stack-or-heap/

# basically, if you are using primitive types such as strings, integers, float, boolean (some might argue that string is not a primitive type)
# if you assign variable of primitive type to another variable, and change the value of one of the variable it won't change the other value

# Example:
a = 8 # integer type
b = a
print("Before changing the value")
print(f"a = {a}, b = {b}")

b = 7
print("After changing the value")
print(f"a = {a}, b = {b}")

Before changing the value
a = 8, b = 8
After changing the value
a = 8, b = 7

In [14]:
# But it is not the case when using list

# Example
#                      [0]                       [1]                       [2]                       [3]                           [4]                           [5]
subjects = ["Algorithm and Programming", "Discrete Mathematics", "Scientific Computing", "Human and Computer Interface", "Program Design Methods", "Character Building: Pancasila"]
subjects2 = subjects

print("Before changing the value")
print(f"subjects: {subjects}")
print(f"subjects2: {subjects2}")

subjects2[0] = "Python class"

print("After changing the value")
print(f"subjects: {subjects}")
print(f"subjects2: {subjects2}")

Before changing the value
subjects: ['Algorithm and Programming', 'Discrete Mathematics', 'Scientific Computing', 'Human and Computer Interface', 'Program Design Methods', 'Character Building: Pancasila']
subjects2: ['Algorithm and Programming', 'Discrete Mathematics', 'Scientific Computing', 'Human and Computer Interface', 'Program Design Methods', 'Character Building: Pancasila']
After changing the value
subjects: ['Python class', 'Discrete Mathematics', 'Scientific Computing', 'Human and Computer Interface', 'Program Design Methods', 'Character Building: Pancasila']
subjects2: ['Python class', 'Discrete Mathematics', 'Scientific Computing', 'Human and Computer Interface', 'Program Design Methods', 'Character Building: Pancasila']

In [15]:
# To avoid that we use copy function

subjects2 = subjects.copy()

print("Before changing the value")
print(f"subjects: {subjects}")
print(f"subjects2: {subjects2}")

subjects[0] = "Algorithm and Programming"

print("After changing the value")
print(f"subjects: {subjects}")
print(f"subjects2: {subjects2}")

Before changing the value
subjects: ['Python class', 'Discrete Mathematics', 'Scientific Computing', 'Human and Computer Interface', 'Program Design Methods', 'Character Building: Pancasila']
subjects2: ['Python class', 'Discrete Mathematics', 'Scientific Computing', 'Human and Computer Interface', 'Program Design Methods', 'Character Building: Pancasila']
After changing the value
subjects: ['Algorithm and Programming', 'Discrete Mathematics', 'Scientific Computing', 'Human and Computer Interface', 'Program Design Methods', 'Character Building: Pancasila']
subjects2: ['Python class', 'Discrete Mathematics', 'Scientific Computing', 'Human and Computer Interface', 'Program Design Methods', 'Character Building: Pancasila']

### Loops

##### For Loops

In [16]:
# range function require at least one argument, but it can take up to 3 argument
# if you only provide 1 argument, i == 0 to (the argument you gave)
#
# Example:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
# if you provide 2 argument
# i == (the first argument) to (second argument - 1)
# 
# Example:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
# if you provide three argument
# i == (the first argument) to (second argument - 1) but increment by (third argument)
#
# NOTE: if you provide three argument, make sure it can increment (i) can increment by (third argument) until it is equal to the (second argument)
#       Otherwise the loops won't end, and result in error
#
# Example:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [19]:
# you can also loops through from bigger number to smaller number
# 
# Example:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [20]:
# you can also iterate list using for loops
#
# Example:
topics = ["List", "Loops", "Conditional"]

for topic in topics:
    print(f"Today's topic is {topic}")

Today's topic is List
Today's topic is Loops
Today's topic is Conditional

### While Loops

In [21]:
# while loops, loops until the value is false
# Example

i = 0

while i < 10: # The loop stop when i == 10
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

### Conditional: if statements

In [22]:
# if statements checks from top to bottom
#
# Example

n = 5

if n > 1: # this should be true
    print("n is greater than 1") # this is the one it will be executed, because it is on top
elif n == 5: # this should also be true
    print("n is equal to 5")

n is greater than 1

In [23]:
# if you want to execute both, you can omit the elif, but instead use 2 if

if n > 1: # this should be true
    print("n is greater than 1")

if n == 5: # this should also be true
    print("n is equal to 5")

# Now both are executed

n is greater than 1
n is equal to 5

In [24]:
# python provide in operator to check if value is in a collection of value
#
# Example:

employees = ["John", "Jane", "Jack", "Ashley"]

print("John" in employees) # output True, since John is in employees
print("Daniel" in employees) # output False, since Daniel is not in employees

True
False

### Thank you for reading